# Created by .ignore support plugin (hsz.mobi)

*.py[cod]
*.env
.idea
.DS_Store

logs/
!logs/index.html

.coverage
htmlcov/
.coveralls.yml

csv/*


# toutiao
news/spiders/toutiao.py
tools/toutiao.py

# middlewares
news/middlewares/httpproxy_vps.py

# config
config/
!config/__init__.py
!config/default.py
