[run]
omit =
    __init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    if self.debug:
    if settings.DEBUG
    except ImportError
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
